name: Main Pipeline

on:
  push:
    branches:
      - 'main'

jobs:
  codequality:
    name: Check
    uses: ./.github/workflows/codequality.yml
  unit:
    name: Check
    uses: ./.github/workflows/unit.yml

  deploy:
    name: Deploy cdc.cy
    runs-on: ubuntu-latest
    needs: [codequality, unit]
    if: needs.codequality.result == 'success' && needs.unit.result == 'success'
    steps:
      - uses: styfle/cancel-workflow-action@0.12.0
      - uses: actions/checkout@v6
      - uses: superfly/flyctl-actions@1.4
        with:
          args:
            'deploy --app cdc-cy --remote-only --build-arg COMMIT_SHA=${{
            github.sha }}'
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

  e2e:
    name: Testing
    needs: [deploy]
    if: needs.deploy.result == 'success'
    uses: ./.github/workflows/e2e.yml
    with:
      node-version: lts/hydrogen
